export(annualTrends)
export(censSeaken)
export(ckProj)
export(flowAdjust)
export(getTrends)
export(lsProj)
export(plotTrends)
export(plotTT)
export(regionalSeaken)
export(sampReport)
export(setProj)
export(SKTrends)
export(sumSamp)
export(tobitTrends)
export(undoFA)
export(useProj)
S3method(print,rsktest)
useDynLib(restrend,kendalllcd)
useDynLib(restrend,regionsk)
useDynLib(restrend,seakenlcd)
